button {
    position: absolute;
    right: 25px;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    padding: 0;
    text-align: center;
    line-height: 20px;
    margin: 0;
    cursor: pointer;
}

:focus {
    outline: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}