.imgList {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.imgList div {
    float: left;
    margin: 5px;
}

.imgList > div {
    border: 1px solid rgba(34,36,38,.15);
    width: calc(33.33% - 10px);
    transition: 0.4s;
}

.imgList > div:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.imgList > div:nth-child(4),
.imgList > div:nth-child(5) {
    border: 1px solid rgba(34,36,38,.15);
    width: calc(50% - 10px);
}

.imgList > div:nth-child(4) img,
.imgList > div:nth-child(5) img {
    height: 250px;
}

.imgList img {
    width: 100%;
    object-fit: cover;
    height: 150px;
    object-position: center;
}
